; composer dependencies
/vendor

; prestashop module files
/config_*.xml
/config.xml

; dev tools
.php_cs.cache
/.devtools/.phpstan_bootstrap_config.php
grumphp.yml
tests/Resources/modules/*
!tests/Resources/modules/README.md

; ide
/.idea

; tests
.phpunit.result.cache
.php-cs-fixer.cache