parameters:
  paths:
    - ./
  excludes_analyse:
    - vendor/
    - .devtools/phpstan/stubs/
  reportUnmatchedIgnoredErrors: true
  level: 5
  stubFiles:
      - .devtools/phpstan/stubs/Category.stub
      - .devtools/phpstan/stubs/Product.stub

includes:
  - %currentWorkingDirectory%/.devtools/.phpstan_bootstrap.neon
  - %currentWorkingDirectory%/.devtools/phpstan_baseline.neon
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
  - %currentWorkingDirectory%/.devtools/myextension.neon

services:
  -
    class: FOP\Console\Tests\Validator\FOPCommandFormatsValidator
