parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Console\\\\Application\\:\\:getKernel\\(\\)\\.$#"
			count: 1
			path: ../src/Commands/CheckServiceContainer.php

		-
			message: "#^Function dump invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: ../src/Commands/Configuration/Export.php
