parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Console\\\\Application\\:\\:getKernel\\(\\)\\.$#"
			count: 1
			path: ../src/Commands/CheckServiceContainer.php

		-
			message: "#^Function dump invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: ../src/Commands/Configuration/Export.php

		-
			message: "#^Method FOP\\\\Console\\\\Commands\\\\Customers\\\\CustomersGroups\\:\\:groupCustomersTransfer\\(\\) never returns null so it can be removed from the return typehint\\.$#"
			count: 1
			path: ../src/Commands/Customers/CustomersGroups.php

		-
			message: "#^Method FOP\\\\Console\\\\Commands\\\\Customers\\\\CustomersGroups\\:\\:groupCustomersTransfer\\(\\) should return int\\|null but return statement is missing\\.$#"
			count: 1
			path: ../src/Commands/Customers/CustomersGroups.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: ../src/Commands/Customers/CustomersGroups.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$type$#"
			count: 1
			path: ../src/Commands/Customers/CustomersGroups.php
			
		-
			message: "#^Method FOP\\\\Console\\\\Commands\\\\Images\\\\GenerateAbstract\\:\\:deleteOldImages\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: ../src/Commands/Images/GenerateAbstract.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$dir\\)\\: Unexpected token \"\\$dir\", expected type at offset 51$#"
			count: 1
			path: ../src/Commands/Images/GenerateAbstract.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$dir\\)\\: Unexpected token \"\\$dir\", expected type at offset 63$#"
			count: 1
			path: ../src/Commands/Images/GenerateAbstract.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$languages\\)\\: Unexpected token \"\\$languages\", expected type at offset 102$#"
			count: 1
			path: ../src/Commands/Images/GenerateAbstract.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$type\\)\\: Unexpected token \"\\$type\", expected type at offset 70$#"
			count: 1
			path: ../src/Commands/Images/GenerateAbstract.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$type\\)\\: Unexpected token \"\\$type\", expected type at offset 82$#"
			count: 1
			path: ../src/Commands/Images/GenerateAbstract.php

		-
			message: "#^Call to an undefined method Shop\\:\\:getActive\\(\\)\\.$#"
			count: 1
			path: ../src/Commands/ShopStatus.php

		-
			message: "#^Call to an undefined method Shop\\:\\:getDeleted\\(\\)\\.$#"
			count: 1
			path: ../src/Commands/ShopStatus.php

		-
			message: "#^Call to an undefined method Shop\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: ../src/Commands/ShopStatus.php

		-
			message: "#^Call to an undefined method Shop\\:\\:getName\\(\\)\\.$#"
			count: 1
			path: ../src/Commands/ShopStatus.php

		-
			message: "#^Call to an undefined method Shop\\:\\:getThemeName\\(\\)\\.$#"
			count: 1
			path: ../src/Commands/ShopStatus.php

