name: PHP tests
on: [pull_request]
jobs:
  php-cs-fixer:
    name: PHP CS FIXER (PHP ${{ matrix.php-versions }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['7.2']
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 0
      - name: Install Composer dependencies
        run: composer install --no-progress --no-suggest --prefer-dist --optimize-autoloader
      - name: Run CS Fixer
        run: php vendor/bin/php-cs-fixer fix --dry-run --diff --using-cache=no --diff-format udiff
